* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

body {

    background-color: #E5E5E5;
}

header {

    margin-left: 40px;
}

main {

    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto {

    margin-top: 90px;
}

.mensagem {

    position: fixed;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("boneco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    width: 300px;
    height: 544px;
    top: 40px;
    border-radius: 32px;
    padding: 2em;

}

.copiar {

    position: relative;
    margin-top: 650px;
    margin-left: 235px;
    background-color: #0A3871;
    color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.botoes {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encriptar {

    background-color: #0A3871;
    color: #fff;
    border-radius: 14px;
    padding: 14px;
}

.desencriptar {

    margin-left: 30px;
    border-radius: 14px;
    padding: 14px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 14px;

}

.informacao {

    font-size: 15px;
}